* {
    padding: 0px;
    margin: 0px;
    /* outline: 2px dotted green; */
    }
.container {
    width: 1020px;
    height: 610px;
    margin: 0px auto;
    padding-top: 50px;
    }
.bingocard {
    margin: 0px auto;
    width: 500px;
    height: 500px;
    }
table, th, td {
    border: 2px solid;
    text-align: center;
    }
.bingocard th {
    font-size: 25px;
    font-weight: bold;
    }
.bingocard td {
    font-size: 20px;
    
    }
.blue {
    color: blue;
    }
.red {
    color: red;
    }
